.question-form {
    background: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    display: grid;
    /* border-radius: 10px; */
}
.question-input,
.question-select {
    padding: 10px;
    font-size: 17px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.question-input {
    background: #fff;
    padding: 15px;
}

.question-select {
    background: #eef9ff;
}
