.dashboard-main {
    background: url('../src/assets/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.dashboard {
    padding: 20px;
    min-height: 85vh;
    height: 100%;
}
.dashboard-head {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}
.dashboard h3 {
    font-size: 26px;
}

.dashboard .button-container {
    align-self: flex-end;
}

.dashboard .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-grow: 1;
    margin-top: 20px;
}

.dashboard .content .question-list {
    flex-basis: 50%;
    overflow-y: auto;
    padding-right: 10px;
}

.dashboard .content .main-form {
    flex-basis: 50%;
    padding-left: 10px;
}
.glass-button {
    background: #fb7829c7;
    border-radius: 10px;
    padding: 12px 20px;
    cursor: pointer;
    margin: 10px auto;
    color: #fff;
    font-size: 17px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.glass-button:hover {
    background: #e36023c7;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 10px;
}

@media (max-width: 768px) {
    .dashboard .content {
        flex-direction: column;
    }

    .dashboard .content .question-list,
    .dashboard .content .main-form {
        flex-basis: 100%;
    }
}
